html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
button {
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
button.blue {
  background: #00AEEF;
  color: white;
}
#list {
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  bottom: 0;
}
#list li {
  margin: 20px;
}
#topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #333333;
  height: 50px;
}
.right {
  float: right;
}
