<div id="create-edit" ng-controller="createEditCtrl">
    <input type="text" ng-model="model.current.number" placeholder="number"/>
    <br/>
    <input type="text" ng-model="model.current.street" placeholder="street"/>
    <br/>
    <input type="text" ng-model="model.current.city" placeholder="city"/>
    <br/>
    <input type="text" ng-model="model.current.postcode" placeholder="postcode"/>
    <br/>
    <input type="text" ng-model="model.current.firstname" placeholder="firstname"/>
    <br/>
    <input type="text" ng-model="model.current.lastname" placeholder="lastname"/>
    <br/>
    <button class="blue">Save</button>
</div>
